:root {
    --dark-theme-color: rgba(189, 147,249,1);
    --dark-theme-bg: rgba(25,25,25,1);
    --dark-theme-text: rgba(255,255,255,0.87);
    --dark-theme-text2: rgba(255,255,255,0.6);
    --dark-theme-overlay5: rgba(255,255,255,0.05);

    --light-theme-color: rgba(211,74,151,1);
    --light-theme-bg: rgba(247,247,247,1);
    --light-theme-text: rgba(34,36,48,1);
    --light-theme-text2: rgba(34,36,48,0.87);
    --light-theme-overlay5: rgba(34,36,48,0.07);

    --color: var(--dark-theme-color);
    --bg-color: var(--dark-theme-bg);
    --text-color: var(--dark-theme-text);
    --lesser-text-color: var(--dark-theme-text2);
    --overlay5: var(--dark-theme-overlay5);

    --padding: 1em;
}

/*
This document is written mobile first, and dark theme first. All media queries
are gathered at the end.
*/

* {
    box-sizing: border-box;
}

html, body, figure {
    margin: 0;
}

html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.33;
    height: 100%;
}

figcaption {
    color: var(--lesser-text-color);
    font-size: 0.75em;
}

img {
    height: auto;
    width: 100%;
    border-radius: 2px;
    filter: grayscale(38%);
}

.main-grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
        "header"
        "content"
        "sidebar"
        "footer";
    grid-row-gap: var(--padding);
    color: var(--text-color);
    background-color: var(--bg-color);
}

.main-header {
    grid-area: header;
    background-color: var(--overlay5);
}

.main-content {
    grid-area: content;
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-bottom: var(--padding);
}

.main-sidebar {
    grid-area: sidebar;
    height: min-content;
    align-self: center;
    font-size: 0.75em;
    line-height: 1.5;
    color: var(--lesser-text-color);
    background-color: var(--overlay5);
    border-radius: 9px;
    padding: var(--padding);
}

.main-content a, .main-sidebar a {
    color: var(--text-color);
}

.main-content a:hover, .main-sidebar a:hover {
    color: var(--color);
}

.main-footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    line-height: 1.5;
    color: var(--lesser-text-color);
    background-color: var(--overlay5);
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

.main-footer address {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 9px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.main-footer a {
    color: inherit;
    text-decoration: none;
    padding-left: var(--padding);
    padding-right: var(--padding);
}

.main-nav {
    grid-area: nav;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*nav ul display flex for simple switching between vert & horz nav*/
.main-nav ul {
    display: flex;
    flex-direction: column;
}

/*"Home" always visible...*/
.main-nav ul li:first-child {
    display: flex;
}

/*...other nav links are not, make parent li invisible*/
.main-nav li:not(:first-child){
    display: none;
    background-color: var(--dark-theme-overlay5);
}

.main-nav a {
    color: inherit;
    text-decoration: none;
    padding: var(--padding);
    flex-grow: 1;
}

.main-nav li:not(:first-child) a:hover {
    background-color: var(--dark-theme-overlay5);
}


/*burger lines*/
.main-nav label span {
    height: 2px; /*"burger-height"*/
    width: 30px;
    background-color: var(--text-color); /*"burger-color"*/
    border-radius: 2px; /*slightly rounded corners*/
}

/*The box containing the burger menu*/
.menu-button-container {
    position: absolute;
    top: 9px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    z-index: 1;
    padding: 5px;
    margin: 7px;
}

.menu-button-container:hover {
    cursor: pointer;
}

#mb-line1 {
    transition-duration: 0.1s;
}

#mb-line2 {
    transition-duration: 0.1s;
}

#mb-line3 {
    transition-duration: 0.1s;
}

/*The invisible checkbox associated with the burger*/
#menu-toggle {
    opacity: 0; /*make invisible, display: none would break keyboard nav*/
    position: absolute; /*do not push other content down*/
    top: 22px;
    right: 14px;
}

#menu-toggle:focus ~ .menu-button-container {
    outline: 1px solid var(--dark-theme-text2);
}

/*Make the invisible visible*/
#menu-toggle:checked ~ ul li:not(:first-child) {
    display: flex;
}

/*Make the burger become an X...*/
#menu-toggle:checked ~ .menu-button-container #mb-line1 {
    /*drop to mid-box and rotate, note that current impl only works (well)
    for current burger-size*/
    transform: translateY(9px) rotate(45deg);
}

#menu-toggle:checked ~ .menu-button-container #mb-line2 {
    transform: rotate(-45deg);
}

#menu-toggle:checked ~ .menu-button-container #mb-line3 {
    transform: scaleY(0); /*disappear*/
}

/*And then we move to larger screens...*/
@media (min-width: 700px) {
    .main-grid-container {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header"
            "content sidebar"
            "footer footer";
    }
    .main-content {
        overflow-y: scroll;
    }
    /*horizonal navigation*/
    .main-nav ul {
        flex-direction: row;
    }
    /*visible links, must now inherit bg color to avoid looking stupid*/
    .main-nav li:not(:first-child) {
        display: flex;
        background-color: inherit;
    }
    /*active page visual cue*/
    .main-nav li:not(:first-child) a.active {
        background-color: var(--dark-theme-overlay5);
    }
    /*invisible burger*/
    .menu-button-container {
        display: none;
    }
    /*rm burger fm keyboard nav*/
    #menu-toggle {
        display: none;
    }
}

@media (min-width: 1200px) {
    img.lighthouse-screenshot {
        width: 75%;
    }
    .main-grid-container {
        grid-template-columns: 2fr 7fr 2fr 1fr;
        grid-template-areas:
            "header header header header"
            ". content sidebar ."
            "footer footer footer footer";
    }
    /*
    Want the header bg to fill the width of the screen, but the header
    content (nav-links) to align with other content. This is one way...
    better solutions may well exist
    */
    .main-header {
        display: grid;
        grid-template-columns: 2fr 10fr;
        grid-template-areas:
            ". nav";
    }
}

/*
If your system (or browser, at least firefox) settings prefer light theme,
then light theme you shall get...
*/
@media (prefers-color-scheme: light) {
    :root {
        --color: var(--light-theme-color);
        --bg-color: var(--light-theme-bg);
        --text-color: var(--light-theme-text);
        --lesser-text-color: var(--light-theme-text2);
        --overlay5: var(--light-theme-overlay5);
    }
    img {
        filter: none;
    }
    /*...but, I still want a dark header*/
    .main-header {
        color: var(--dark-theme-text);
        background-color: var(--light-theme-text);
    }
    /*must keep the burger lines light colored in a dark header*/
    .main-nav label span {
        background-color: var(--dark-theme-text);
    }
    /*use shadow to elevate sidebar in light theme*/
    .main-sidebar {
        background-color: var(--light-theme-bg);
        /*
        shadow fm here: https://getcssscan.com/css-box-shadow-examples
        multiple shadow effects separated by comma
        */
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
                    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
}