:root {
    --dark-theme-color: rgba(189, 147,249,1);
    --dark-theme-bg: rgba(25,25,25,1);
    --dark-theme-text: rgba(255,255,255,0.87);
    --dark-theme-text2: rgba(255,255,255,0.6);
    --dark-theme-overlay5: rgba(255,255,255,0.05);

    --light-theme-color: rgba(211,74,151,1);
    --light-theme-bg: rgba(247,247,247,1);
    --light-theme-text: rgba(34,36,48,1);
    --light-theme-text2: rgba(34,36,48,0.87);
    --light-theme-overlay5: rgba(34,36,48,0.07);

    --color: var(--dark-theme-color);
    --bg-color: var(--dark-theme-bg);
    --text-color: var(--dark-theme-text);
    --lesser-text-color: var(--dark-theme-text2);
    --overlay5: var(--dark-theme-overlay5);

    --base-font-size: 0.875rem;
    --base-line-height: 1.6;
    --base-vertical-spacing: calc(var(--base-font-size) *
                                  var(--base-line-height));
    --base-horizontal-spacing: 0.5rem;
}

/*
This document is written mobile first, and dark theme first. All media queries
are gathered at the end.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
}

h1, h2, h3 {
    line-height: 1.25;
    font-weight: normal;
    margin-top: calc(0.67 * var(--base-vertical-spacing));
    margin-bottom: calc(0.33 * var(--base-vertical-spacing));
}

h1 {
    font-size: 2.082em;
}

h2 {
    font-size: 1.842em;
}

h3 {
    font-size: 1.63em;
}

p, figure {
    margin-top: var(--base-vertical-spacing);
    margin-bottom: var(--base-vertical-spacing);
}

p:first-child,
h1 + p,
h2 + p,
h3 + p, h3 + figure {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a, footer a {
    color: inherit;
    text-decoration: none;
}

p a {
    color: var(--text-color);
}

p a:hover {
    color: var(--color);
}

figcaption {
    color: var(--lesser-text-color);
    font-size: 0.8333em;
    line-height: 1.9277em;
}

code {
    font-size: 0.8333em;
    background-color: rgba(255,255,255,0.07);
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

img {
    height: auto;
    width: 100%;
    border-radius: 4px;
    filter: grayscale(38%);
}

.main-grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
        "header"
        "content"
        "sidebar"
        "footer";
    grid-row-gap: var(--base-vertical-spacing);
    grid-column-gap: var(--base-horizontal-spacing);
    align-items: center;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.main-content, .main-footer {
    padding-left: calc(2 * var(--base-horizontal-spacing));
    padding-right: calc(2 * var(--base-horizontal-spacing));
}

.main-sidebar, .main-footer {
    font-size: 0.8333em;
    line-height: 1.9277em;
    color: var(--lesser-text-color);
    background-color: var(--overlay5);
}

.main-header {
    grid-area: header;
    background-color: var(--overlay5);
}

.main-content {
    grid-area: content;
}

.main-sidebar {
    grid-area: sidebar;
    border-radius: 8px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: var(--base-horizontal-spacing);
    padding-right: var(--base-horizontal-spacing);
    margin-left: var(--base-horizontal-spacing);
    margin-right: var(--base-horizontal-spacing);
}

.main-footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-footer address {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-footer a {
}

/*nav ul display flex for simple switching between vert & horz nav*/
.main-nav ul {
    flex-direction: column;
}

/*"Home" always visible...*/
.main-nav li:first-child {
    display: flex;
}

/*...other nav links are not, make parent li invisible*/
.main-nav li:not(:first-child){
    display: none;
    background-color: var(--dark-theme-overlay5);
}

.main-nav a {
    padding-top: calc(0.5 * var(--base-vertical-spacing));
    padding-bottom: calc(0.5 * var(--base-vertical-spacing));
    padding-left: calc(2 * var(--base-horizontal-spacing));
    padding-right: calc(2 * var(--base-horizontal-spacing));
    flex-grow: 1;
}

.main-nav li:not(:first-child) a:hover {
    background-color: var(--dark-theme-overlay5);
}

/*burger lines*/
.main-nav label span {
    height: 0.1428em; /*"burger-height"*/
    width: 2em;
    background-color: var(--text-color); /*"burger-color"*/
    border-radius: 2px; /*slightly rounded corners*/
}

/*The box containing the burger menu*/
.menu-button-container {
    position: absolute;
    top: 0.57142em;
    right: var(--base-horizontal-spacing);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2em;
    z-index: 1;
    padding: 0.3em;
    margin-right: var(--base-horizontal-spacing);
}
.Topical-menu-button-container {
    position: absolute;
    top: 9px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    z-index: 1;

}

.menu-button-container:hover {
    cursor: pointer;
}

#mb-line1 {
    transition-duration: 0.1s;
}

#mb-line2 {
    transition-duration: 0.1s;
}

#mb-line3 {
    transition-duration: 0.1s;
}

/*The invisible checkbox associated with the burger*/
#menu-toggle {
    opacity: 0; /*make invisible, display: none would break keyboard nav*/
    position: absolute; /*do not push other content down*/
    top: 1.125em;
    right: 2em;
}

#menu-toggle:focus ~ .menu-button-container {
    outline: 1px solid var(--dark-theme-text2);
}

/*Make the invisible visible*/
#menu-toggle:checked ~ ul li:not(:first-child) {
    display: flex;
}

/*Make the burger become an X...*/
#menu-toggle:checked ~ .menu-button-container #mb-line1 {
    /*drop to mid-box and rotate, note that current impl only works (well)
    for current burger-size*/
    transform: translateY(0.6071em) rotate(45deg);
}

#menu-toggle:checked ~ .menu-button-container #mb-line2 {
    transform: rotate(-45deg);
}

#menu-toggle:checked ~ .menu-button-container #mb-line3 {
    transform: scaleY(0); /*disappear*/
}

/*And then we move to larger screens...*/
@media (min-width: 600px) {
    :root {
        --base-font-size: 1.25rem;
    }

    h1, h2, h3 {
        font-weight: bolder;
        margin-top: calc(1.5 * var(--base-vertical-spacing));
        margin-bottom: calc(0.5 * var(--base-vertical-spacing));
    }

    h1 {
        font-size: 2.565em;
    }

    h2 {
        font-size: 2.192em;
    }

    h3 {
        font-size: 1.874em;
    }

    img.lighthouse-screenshot {
        width: 87%;
    }

    .main-grid-container {
        grid-template-columns: 1fr auto auto 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header header header"
            ". content sidebar ."
            "footer footer footer footer";
        grid-row-gap: 0;
        overflow: hidden;
        height: 100vh;
    }

    .main-header {
        display: grid;
        grid-template-columns: auto 58em auto;
        grid-template-areas:
            ". nav .";
    }

    .main-nav {
        grid-area: nav;
    }

    /*horizonal navigation*/
    .main-nav ul {
        flex-direction: row;
    }

    /*visible links, must now inherit bg color to avoid looking stupid*/
    .main-nav li:not(:first-child) {
        display: flex;
        background-color: inherit;
    }

    /*active page visual cue*/
    .main-nav li:not(:first-child) a.active {
        background-color: var(--dark-theme-overlay5);
    }

    /*invisible burger*/
    .menu-button-container {
        display: none;
    }

    /*rm burger fm keyboard nav*/
    #menu-toggle {
        display: none;
    }

    .main-content {
        height: 100%;
        overflow-y: scroll;
        max-width: 40em;
        min-width: 25em;
    }

    .main-sidebar {
        max-width: 15em;
        min-width: 12em;
        max-height: 87%;
        overflow-y: scroll;
    }
}

/*
If your system (or browser, at least firefox) settings prefer light theme,
then light theme you shall get...
*/
@media (prefers-color-scheme: light) {
    :root {
        --color: var(--light-theme-color);
        --bg-color: var(--light-theme-bg);
        --text-color: var(--light-theme-text);
        --lesser-text-color: var(--light-theme-text2);
        --overlay5: var(--light-theme-overlay5);
    }

    img {
        filter: none;
    }

    /*...but, I still want a dark header*/
    .main-header {
        color: var(--dark-theme-text);
        background-color: var(--light-theme-text);
    }

    /*must keep the burger lines light colored in a dark header*/
    .main-nav label span {
        background-color: var(--dark-theme-text);
    }

    /*use shadow to elevate sidebar in light theme*/
    .main-sidebar {
        background-color: var(--light-theme-bg);
        /*
        shadow fm here: https://getcssscan.com/css-box-shadow-examples
        multiple shadow effects separated by comma
        */
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
                    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
}

.animal-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.animal-card {
    max-width: 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animal-card h2 {
    font-size: 1.277em;
    font-weight: lighter;
}

.animal-card p {
    font-size: 0.833em;
    line-height: 1.977em;
}

#hero-animal {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                      url("../img/hero-lion.jpg");
    min-height: 67vh;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

#hero-animal h1,
#hero-animal p {
    color: var(--dark-theme-text);
}

#hero-animal p,
.animal-card p {
    max-width: 20em;
    text-align: center;
}

@media (min-width: 50em) {
    .animal-grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 70em) {
    .animal-grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 600px) {
    #hero-animal {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                          url("../img/hero-eagle-narrower.jpg");
        min-height: 50vh;
    }
}

@media (min-width: 1200px) {
    #hero-animal {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                          url("../img/hero-eagle.jpg");
    }
}